{
  "log": {
    "access": "none",
    "error": "none",
    "loglevel": "${XRAY_LOG_LEVEL}"
  },
  "routing": {
    "domainStrategy": "IPIfNonMatch",
    "rules": []
  },
  "inbounds": [
    ${XRAY_INBOUNDS}
  ],
  "outbounds": [
    {
      "protocol": "freedom",
      "tag": "direct"
    },
    {
      "protocol": "blackhole",
      "tag": "block"
    }
  ]
}