{
  "log": {
    "access": "none",
    "error": "none",
    "loglevel": "${XRAY_LOG_LEVEL}"
  },
  "inbounds": [
    {
      "port": ${XRAY_PORT},
      "protocol": "vless",
      "settings": { "clients": [{ "id": "${XRAY_UUID}", "flow": "xtls-rprx-vision" }], "decryption": "none" },
      "streamSettings": { "network": "tcp", "security": "reality", "realitySettings": { "show": false, "dest": "${XRAY_REALITY_DEST}:443", "xver": 0, "serverNames": ["${XRAY_REALITY_SNI}"], "shortIds": ["${XRAY_SHORT_ID}"], "privateKey": "${XRAY_PRIVATE_KEY}" } }
    }
  ],
  "outbounds": [{ "protocol": "freedom", "tag": "direct" }]
}
